# Do not include user's local data or history info (inluding .RData and .Rhistory for RStudio users)
.*

# The Markdown files are proper for Github, but RStudio generates HTML when previewed.
*.html

data/*
!data/nfl_sample_data_2015
!data/nfl_sample_data_2015/*
!data/nfl_sample_data_2015/*/*

